.schedule_days{
    width: 75vw;
    display: flex;
    flex-direction: column;
}

.schedule_days__day{
    align-self: center;
    font-size: 50px;
    font-weight: 700;
    color: #ffffff;
}

.selected_part{
    display: flex;
    align-self: center;
    justify-content: center;
    width: 400px;
    height: 400px;
}

.selected_speaker{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.selected_speaker__avatar{
    width: 275px;
    height: 275px;
    border-radius: 300px;
    object-fit: cover;
    padding: 5px;
    background: -webkit-linear-gradient(#ffbb00,#ff0074);
}

.selected_speaker__name{
    color: #ffffff;
}

.selected_speaker__theme{
    color: #ffffff;
}

.selected_logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.selected_logo__image{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.selected_round_table{
    display: flex;
    align-self: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.selected_round_table__name{
    color: #ffffff;
}

.selected_round_table__description{
    color: #ffffff;
}

@media screen and (max-width: 768px) {
    .selected_part{
        width: 80vw;
        align-self: center;
    }

    .schedule_days__day{
        font-size: 35px;
    }
}