.speaker{
    width: 300px;
    height: 410px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 30px;
    margin-left: 15px;
    margin-right: 15px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;   
}   

.speaker_image{
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    background: -webkit-linear-gradient(0.1turn, #ffbb00,#ff0074);
}

.speaker_image__avatar{
    width: 142px;
    height: 142px;
    object-fit: cover;
    border-radius: 100px;
}

.speaker__name{
    font-size: 28px;/*govno jopa barebuh suka*/
    margin-top: 12px;
    color:#ffffff;
    font-family: 'Roboto';
    font-weight: 350;
    text-align: center;
}

.speaker__company{
    font-size: 16px;
    margin-top: 2px;
    color:#ffffff;
    font-family: 'Roboto';
    font-weight: 350;
}

.speaker__description{
    width: 250px;
    text-align: center;
    padding: 5px;
    font-family: 'Roboto';
    font-size: 16px;
    color: #ffffff;
    font-weight: 250;
    margin-top: 10px;
}