.schedule_day{
    height: 160px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .schedule_day{
        height: auto;
        flex-wrap: wrap;
    }
    
    .line{
        flex: none;
        width: 5px;
        height: 100px;
    }
}