.sponsors{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding-bottom: 50px;
    background-color: #002042;
}

.sponsors_title{
    width: 70vw;
    padding-top: 30px;
    padding-bottom: 30px;
}

.sponsors_title__text{
    font-size: 60px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
}

.sponsors_companies{
    width: 70vw;
    font-family: 'Roboto';
    font-weight: 350;
}

.varteq{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #000000;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    transition-duration: 300ms;
}

.varteq__title{
    font-size: 36px;
    font-weight: 550;
    color: #ffffff;
}

.varteq_info{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.varteq_info__image{
    width: 50%;
    height: 100%;
}

.varteq_info__description{
    width: 50%;
    display: flex;
    justify-items: center;
    align-items: center;
    font-size: 20px;
    color: #ffffff;
}

.varteq__link{
    text-decoration: underline;
    color: #ffffff;
}

.sponsors_companies_second_row{
    display: flex;
    flex-direction: row;
}

.sponsors_companies_third_row{
    display: flex;
    flex-direction: row;
}

.idap{
    flex: 1;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #FEDD00;
}

.idap__title{
    font-size: 36px;
    font-weight: 550;
    color: #000000;
}

.idap_info{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.idap_info__image{
    width: 50%;
    padding: 20px;
}

.idap_info__description{
    width: 50%;
    display: flex;
    justify-items: center;
    align-items: center;
    text-align: end;
    font-size: 20px;
    color: #000000;
}

.idap__link{
    text-decoration: underline;
    color: #000000;
}

.foxminded{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex: 1;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #FFB500;
}

.foxminded__title{
    font-size: 36px;
    font-weight: 550;
    color: #000000;
}

.foxminded_info{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.foxminded_info__image{
    width: 50%;
    padding: 20px;
}

.foxminded_info__description{
    width: 50%;
    display: flex;
    justify-items: center;
    align-items: center;
    text-align: start;
    font-size: 20px;
    color: #000000;
}

.foxminded__link{
    text-decoration: underline;
    color: #000000;
}

.livarava{
    flex: 1;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #f0f0f0;
}

.livarava__title{
    font-size: 36px;
    font-weight: 550;
    color: #000000;
}

.livarava_info{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.livarava_info__image{
    width: 50%;
    padding: 20px;
}

.livarava_info__description{
    width: 50%;
    display: flex;
    justify-items: center;
    align-items: center;
    text-align: end;
    font-size: 20px;
    color: #000000;
}

.livarava__link{
    text-decoration: underline;
    color: #000000;
}

.qatestlab{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex: 1;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #5D7D9F;
}

.qatestlab__title{
    font-size: 36px;
    font-weight: 550;
    color: #000000;
}

.qatestlab_info{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.qatestlab_info__image{
    width: 50%;
    padding: 20px;
}

.qatestlab_info__description{
    width: 50%;
    display: flex;
    justify-items: center;
    align-items: center;
    text-align: start;
    font-size: 20px;
    color: #000000;
}

.qatestlab__link{
    text-decoration: underline;
    color: #000000;
}

@media screen and (max-width: 768px) {
    .sponsors_companies{
        width: 90vw;
    }

    .sponsors_title{
        width: 90vw;
        padding-left: 10px;
        padding-right: 10px;
    }

    .sponsors_title__text{
        font-size: 35px;
    }

    .varteq_info{
        flex-direction: column;
    }

    .varteq_info__image{
        width: 100%;
        margin-top: 20px;
    }
    
    .varteq_info__description{
        width: 100%;
        text-align: center;
        margin-top: 10px;
    }
    
    .sponsors_companies_second_row{
        display: flex;
        flex-direction: column;
    }

    .sponsors_companies_third_row{
        display: flex;
        flex-direction: column;
    }

    .idap_info{
        flex-direction: column;
    }

    .idap_info__image{
        width: 70%;
    }

    .idap_info__description{
        width: 100%;
        text-align: center;
    }

    .livarava_info{
        flex-direction: column;
    }

    .livarava_info__image{
        width: 70%;
    }

    .livarava_info__description{
        width: 100%;
        text-align: center;
    }

    .foxminded{
        align-items: flex-start;
    }

    .foxminded_info{
        flex-direction: column-reverse;
    }

    .foxminded_info__image{
        width: 70%;
    }

    .foxminded_info__description{
        width: 100%;
        text-align: center;
    }

    .qatestlab{
        align-items: flex-start;
    }

    .qatestlab_info{
        flex-direction: column-reverse;
    }

    .qatestlab_info__image{
        width: 70%;
    }

    .qatestlab_info__description{
        width: 100%;
        text-align: center;
    }
}