.greetings{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color:royalblue;
}

.words{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.words__text{
    color: #ffffff;
    font-size: 100px;
    font-weight: 500;
}

.words__text_first{
    flex: 1;
    text-align: right;
}

.words__text_second{
    flex: 1;
    margin-left: 20px;
    background-color: brown;
    background: -webkit-linear-gradient(#ffbb00,#ff0074);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.timer__text{
    font-weight: 600;
    font-size: 35px;
    color: #ffffff; 
    margin-left: 40px;
}

.purposes {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: orange;
    padding-top: 30px;
    padding-bottom: 30px;
}

.purposes__title{
    font-size: 60px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
}

.purposes__description{
    width: 70%;
    font-size: 21px;
    text-align: center;
    margin-top: 15px;
    color: #ffffff;
}

.schedule{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: brown;
}

.schedule_title{
    width: 70vw;
}

.schedule_title__text{
    font-size: 60px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
}

.schedule_days{
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.sponsors{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    background-color: crimson;
}

.sponsors_title{
    width: 70vw;
    padding-top: 30px;
    padding-bottom: 30px;
}

.sponsors_title__text{
    font-size: 60px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
}

.sponsors_companies{
    width: 70vw;
}

.varteq{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #000000;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.varteq__title{
    font-size: 36px;
    font-weight: 550;
    color: #ffffff;
}

.varteq_info{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.varteq_info__image{
    width: 50%;
    height: 100%;
}

.varteq_info__description{
    width: 50%;
    display: flex;
    justify-items: center;
    align-items: center;
    font-size: 20px;
    color: #ffffff;
}

.varteq__link{
    text-decoration: underline;
    color: #ffffff;
}

.sponsors_companies_second_row{
    display: flex;
    flex-direction: row;
}

.idap{
    flex: 1;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #FEDD00;
}

.idap__title{
    font-size: 36px;
    font-weight: 550;
    color: #000000;
}

.idap_info{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.idap_info__image{
    width: 50%;
    padding: 20px;
}

.idap_info__description{
    width: 50%;
    display: flex;
    justify-items: center;
    align-items: center;
    text-align: end;
    font-size: 20px;
    color: #000000;
}

.idap__link{
    text-decoration: underline;
    color: #000000;
}

.foxminded{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex: 1;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #f0f0f0;
}

.foxminded__title{
    font-size: 36px;
    font-weight: 550;
    color: #000000;
}

.foxminded_info{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.foxminded_info__image{
    width: 50%;
    padding: 20px;
}

.foxminded_info__description{
    width: 50%;
    display: flex;
    justify-items: center;
    align-items: center;
    text-align: start;
    font-size: 20px;
    color: #000000;
}

.foxminded__link{
    text-decoration: underline;
    color: #000000;
}

.google_map{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    background-color: crimson;
    padding-bottom: 10px;
}

.google_map_title{
    width: 70vw;
    padding-top: 30px;
    padding-bottom: 30px;
}

.google_map_title__text{
    font-size: 60px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
}

.contact_us{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #151515;
}

.contact_us_title{
    width: 35vw;
    padding-top: 30px;
    padding-bottom: 30px;
}

.contact_us_title__text{
    font-size: 60px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
}

.contact_us_info{
    width: 35vw;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.contact_us_info__text{
    color: #ffffff;
    font-size: 22px;
}

.bi-telephone-fill{
    margin-bottom: 5px;
}

@media screen and (max-width: 768px) {
    .words{
        flex-direction: column;
    }

    .words__text{
        color: #ffffff;
        font-size: 50px;
        font-weight: 500;
    }

    .words__text_second{
        margin-left: 0px;
        min-height: 80px;
    }

    .timer__text{
        margin-left: 0px;
    }

    .purposes {
        height: 100%;
    }

    .purposes__title{
        font-size: 35px;
    }
    
    .purposes__description{
        width: 80%;
        font-size: 16px;
    }

    .schedule_title{
        display: flex;
        justify-content: center;
    }

    .schedule_title__text{
        font-size: 35px;
    }

    .sponsors_companies{
        width: 90vw;
    }

    .sponsors_title{
        width: 90vw;
        padding-left: 10px;
        padding-right: 10px;
    }

    .sponsors_title__text{
        font-size: 35px;
    }

    .varteq_info{
        flex-direction: column;
    }

    .varteq_info__image{
        width: 100%;
        margin-top: 20px;
    }
    
    .varteq_info__description{
        width: 100%;
        text-align: center;
        margin-top: 10px;
    }
    
    .sponsors_companies_second_row{
        display: flex;
        flex-direction: column;
    }

    .idap_info{
        flex-direction: column;
    }

    .idap_info__image{
        width: 100%;
    }

    .idap_info__description{
        width: 100%;
        text-align: center;
    }

    .foxminded{
        align-items: flex-start;
    }

    .foxminded_info{
        flex-direction: column-reverse;
    }

    .foxminded_info__image{
        width: 100%;
    }

    .foxminded_info__description{
        width: 100%;
        text-align: center;
    }

    .google_map_title{
        width: 90vw;
        padding-left: 10px;
        padding-right: 10px;
    }

    .google_map_title__text{
        font-size: 35px;
    }

    .contact_us{
        flex-direction: column;
    }

    .contact_us_title{
        width: 90vw;
        padding-top: 0px;
        padding-bottom: 20px;
    }

    .contact_us_title__text{
        font-size: 35px;
    }
    
    .contact_us_info{
        width: 90vw;
    }
}