.point{
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.point_description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.point_description__avatar{
    width: 120px;
    height: 120px;
    border-radius: 120px;
    object-fit: cover;
    padding: 3px;
    background: -webkit-linear-gradient(0.1turn, #ffbb00,#ff0074);
    transition-duration: 250ms;
}

.point_description__avatar:hover{
    width: 145px;
    height: 145px;
    transition-duration: 250ms;
}

.point_description__avatar_empty{
    background: #001B38;
    padding: 10px; 
}


.point_description__time{
    color: #ffffff;
    font-size: 20px;
    font-family: 'Roboto';
    padding-top: 5px;
}

.point_shape{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
}

.point_shape__line{
    flex: 1;
    height: 5px;
    margin-bottom: 30px;
}

.point_shape__line_start{
    background:  -webkit-linear-gradient(0.1turn, #FF5E3A, #FB9219);
}

.point_shape__line_end{
    background:  -webkit-linear-gradient(0.1turn, #FF2C59, #FF5E3A);
}

.point_shape__line_hidden{
    opacity: 0;
}

@media screen and (max-width: 768px) {
    .point{
        display: flex;
    }

    .point_shape__line{
        display: none;
    }
    
    .point_shape__line_hidden{
        display: none;
    }
    .point_description__avatar:hover{
        width: 120px;
        height: 120px;
        transition-duration: 0;
    }
}