.google_map_hint {
    z-index: 999;
    top: 50px;
    left: 100px;
    position: relative;
    display: flex;
    flex-direction: column;
    background: -webkit-linear-gradient(0.1turn, #ffbb00,#ff0074);
    padding: 20px;
    width: 300px;
    border-radius: 30px;
}

.google_map_hint__title{
    color: #ffffff;
    font-size: 36px;
}

.google_map_hint__description{
    color: #ffffff;
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 35px;
}

.google_map_hint__link{
    color: #ffffff;
    width: 100%;
    text-align: end;
}


.google_map_hint__link:hover{
    color: #ffffff;
    width: 100%;
    text-align: end;
}

@media screen and (max-width: 768px) {
    .google_map_hint {
        z-index: 999;
        top: 10px;
        left: 10px;
        position: relative;
        display: flex;
        flex-direction: column;
        padding: 20px;
        width: 80vw;
        border-radius: 30px;
    }
    
    .google_map_hint__title{
        color: #ffffff;
        font-size: 22px;
    }
    
    .google_map_hint__description{
        color: #ffffff;
        font-size: 18px;
        margin-top: 10px;
        margin-bottom: 20px;
    }
}